#team {
	.description {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 50px;
		h2 {
			color: var(--main-color);
			font-weight: lighter;
			letter-spacing: 1px;
			margin-bottom: 15px;
		}
		p {
			line-height: 0.8em;
			text-align: center;
		}
	}
	.card {
		text-align: center;
		img {
			filter: grayscale(100%);
		}
	}
}
