/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

:root {
  --main-color: #9a5437;
  --bg-primary: #b6bdbf;
  --bg-secondary: #1b3f48;
}

#home .brand {
  text-align: left;
  padding: 20px;
  color: var(--main-color);
}

#home nav {
  /* background-color: grey; */
  background-color: rgba(0, 0, 0, 0.164);
  color: whitesmoke;
}

#home nav ul {
  /* 	display: flex;
			justify-content: space-around;
			width: 50%;
			margin-left: 20px; */
}

#home nav ul li {
  /* margin: 15px 0; */
}

#home nav ul li a {
  /* padding: 15px; */
  color: white;
}

#home nav ul li a.active {
  color: black;
}

#home .showcase {
  background-image: url(../assets/imgs/building.jpg);
  background-size: cover;
  /* background-color: var(--bg-primary); */
  height: 350px;
}

#home .showcase .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  height: 85%;
}

#home .showcase .title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.5em;
  color: whitesmoke;
  font-weight: lighter;
}

#home .showcase .title h2 span {
  font-size: 20px;
  color: var(--main-color);
}

#team .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

#team .description h2 {
  color: var(--main-color);
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

#team .description p {
  line-height: 0.8em;
  text-align: center;
}

#team .card {
  text-align: center;
}

#team .card img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.group-counts {
  background-color: var(--bg-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 5%;
}

.group-counts .count {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.group-counts .count span {
  font-size: 2em;
  color: brown;
}

.group-counts .count h4 {
  color: whitesmoke;
  font-weight: initial;
}

#contact {
  background-color: var(--bg-secondary);
  color: wheat;
  padding: 10%;
}

#contact header {
  text-align: center;
  margin-bottom: 70px;
}

#contact header h3 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 25px;
}

#contact header p {
  width: 50%;
  margin: 0 auto;
}

#contact .form_item {
  height: 100px;
}

#contact .form_item input,
#contact .form_item select,
#contact .form_item textarea {
  width: 90%;
  color: wheat;
  border-bottom: 1px solid wheat;
  background-color: none;
  padding: 10px;
}

#contact .wrapper-descripton {
  height: 150px;
}

#contact .wrapper-btn_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#contact .wrapper-btn_submit .btn_submit {
  height: 50px;
  width: 200px;
  background-color: var(--main-color);
  color: whitesmoke;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 100px;
}

#about .imagen {
  background-color: var(--bg-primary);
  height: 300px;
  margin-bottom: 50px;
}

#about .skills {
  padding: 30px;
  border: 1px solid var(--bg-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about .skills header {
  text-align: center;
  margin: 0 auto;
}

#about .skills header h2,
#about .skills header p {
  margin-bottom: 20px;
}

#about .skills header p {
  font-size: 0.7em;
  font-weight: lighter;
}

#about .skills .galery_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about .skills .galery_skills .skill .logo {
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 70px;
  background-color: var(--bg-primary);
  margin: 0 auto;
}

#about .skills .galery_skills .skill figcaption {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px 10px;
}

#projects header {
  padding: 0 100px;
  text-align: center;
  margin-bottom: 80px;
}

#projects header h2 {
  color: var(--main-color);
  letter-spacing: 1px;
  font-size: 3em;
  margin-bottom: 50px;
}

#projects header p {
  line-height: 1em;
  font-size: 1.4em;
}

#projects .galery_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects .galery_projects .project {
  background-color: var(--bg-primary);
  width: 20%;
  height: 400px;
  border: 1px solid white;
}

#projects .galery_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--bg-primary);
}

#projects .galery_controls .fas {
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

#projects .galery_controls .fa-chevron-left {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#projects .galery_controls .fa-chevron-right {
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

#main_footer {
  color: white;
}

#main_footer .sitemap {
  background-color: var(--bg-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 60px;
}

#main_footer .sitemap .footer_list {
  text-align: center;
}

#main_footer .sitemap .footer_list h3 {
  margin-bottom: 20px;
}

#main_footer .sitemap .footer_list li {
  text-align: left;
  margin-bottom: 10px;
}

#main_footer .sitemap .footer_list.contact {
  padding-top: 50px;
}

#main_footer .last_footer {
  background-color: black;
  padding: 20px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main_footer .last_footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}

#main_footer .last_footer .social_media i {
  aspect-ratio: 1/1;
  padding: 10px 0 0 0;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

#home,
section,
form {
  margin-bottom: 140px;
}

section:last-of-type {
  margin-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */