@import 'normalize';
@import '../bootstrap-5.0.2-dist/css/bootstrap.min.css';
@import '../fontawesome/css/all.css';
@import 'variables';
@import 'home';
@import 'team';
@import 'group_counts';
@import 'contact';
@import 'about';
@import 'projects';
@import 'main_footer';
body {
	overflow-x: hidden;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	color: inherit;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
li {
	list-style: none;
}
#home,
section,
form {
	margin-bottom: 140px;
}
section:last-of-type {
	margin-bottom: 0;
}
